.App {
  text-align: center; 
  flex-direction: column;
  height: 100vh;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  font-size: 24px;
  font-weight: 500;
  line-height: 50px;
}
.award {
  font-weight: 500;
  font-size: 24px;
}

.award .title {
  color: coral;
  font-weight: 600;
  margin-right: 20px;
}

.award .content {
  color: rgb(255, 0, 64);
}

.round {
  font-size: 50px;
  line-height: 100px;
  color: rgb(135, 189, 10);
}

.pd-r-10 {
  padding: 0 10px;
}

.m-10 {
  margin: 10px;
}

.other-info {
  font-weight: 400;
  font-size: 16px;
}

.common {
  background: transparent;
  border: 1px solid coral;
  color: coral;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

 .common:hover {
  color: white;
  background-color: coral;
 }
